{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="{% static "account/style.css" %}" rel="stylesheet">
</head>
<body class="col-md-offset-2 col-md-8">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <span class="logo navbar-brand">Shminsta</span>

        {% if request.user.is_authenticated %}
            <ul class="menu nav navbar-nav">
                <li {% if section == "dashboard" %} class="active" {% endif %}>
                    <a href="{% url "dashboard" %}">My dashboard</a>
                </li>
                <li {% if section == "images" %} class="active" {% endif %}>
                    <a href="{% url "images:list" %}">Images</a>
                </li>
                <li {% if section == "people" %} class="active" {% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}

        <p class="navbar-text navbar-right">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }},
                    <a href="{% url "logout" %}" class="navbar-link">Logout</a>
                {% else %}
                    <a href="{% url "login" %}" class="navbar-link">Login</a>
                {% endif %}
        </p>
    </div>
</nav>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tag }}">
                {{ message|safe }}
                <a href="#" class="close">X</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protections
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>

</body>
</html>