{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>

    {% load thumbnail %}
    {% thumbnail image.image "300" as im %}
        <a href="{{ image.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}

    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image_info">

            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>

                <span class="count">
                    <span class="total-views">{{ total_views }}</span>
                    view{{ total_views|pluralize }}
                </span>

                <a href="#" data-id="{{ image.id }}"
                   data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>

            {{ image.description|linebreaks }}
        </div>

        <div class="image-likes">
            {% for user in users_like %}
                <div>
{#                    <img src="{{ user.profile.photo.url }}">#}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobodt likes this image yet.
            {% endfor %}
        </div>


    {% endwith %}

{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post(
            '{% url "images:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data) {
                if (data['status'] == 'ok') {
                    var previous_action = $('a.like').data('action');
                    var previous_likes = parseInt($('span.count .total').text());

                    if (previous_action == 'like') {

                        $('a.like').data('action', 'unlike');
                        $('a.like').text('Unlike');
                        $('span.count .total').text(previous_likes + 1);

                    } else {

                        $('a.like').data('action', 'like');
                        $('a.like').text('Like');
                        $('span.count .total').text(previous_likes - 1);

                    }

                }
            }
        );
    });
{% endblock %}
